/* style for superframe heading */
.block_superframe_heading {
  color:blue;
}

.block_superframe_links {
    border: thin grey solid;
    background: #FDF5E6;
    margin: 10px;
}
.block_superframe_links ul {
    margin-top: 10px;
    list-style:none;
}
